body {
  --border-radius: 5px;

  --mini-gutter: 5px;
  --small-gutter: 10px;
  --gutter: 30px;

  --color-black: #221e22;
  --color-gray: #999999;
  --color-light-gray: #F5F4F5;
  --color-error: rgb(177, 41, 17);

  --box-shadow: 0 0 20px 5px rgba(153,153,153, .25);

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: var(--color-black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border-radius: var(--border-radius);
  border: none;
}

button:hover {
  cursor: pointer;
}
